PruebaAsp.net/Connected Services/WCFUsuarios/Usuario.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Usuario" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5448/Usuario.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5448/Usuario.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5448/Usuario.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:5448/Usuario.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUsuario_GetInsertarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInsertarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetInsertarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInsertarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetVerificarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVerificarUsuario" />
  </wsdl:message>
  <wsdl:message name="IUsuario_GetVerificarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVerificarUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="IUsuario">
    <wsdl:operation name="GetInsertarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetInsertarUsuario" message="tns:IUsuario_GetInsertarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetInsertarUsuarioResponse" message="tns:IUsuario_GetInsertarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVerificarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsuario/GetVerificarUsuario" message="tns:IUsuario_GetVerificarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsuario/GetVerificarUsuarioResponse" message="tns:IUsuario_GetVerificarUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUsuario" type="tns:IUsuario">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInsertarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetInsertarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVerificarUsuario">
      <soap:operation soapAction="http://tempuri.org/IUsuario/GetVerificarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Usuario">
    <wsdl:port name="BasicHttpBinding_IUsuario" binding="tns:BasicHttpBinding_IUsuario">
      <soap:address location="http://localhost:5448/Usuario.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>